<h1>Getting Started 🚀</h1>

<p>Hello <%= @store.owner.email %>,</p>

<p>
  Here’s how to get started with your store "<%= @store.title %>":
</p>

<ul>
  <li>Add products</li>
  <li>Manage inventory</li>
  <li>Start selling 🎉</li>
</ul>
